 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
 
  html, body {
     height: 100%;
     width:100%;
     font-family: 'Poppins',sans-serif;
}
 .sticky-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}
 
 .item img {
     position: absolute;
     top: 0;
     left: 0;
     min-height: 200px;
}

 .navbar{
     padding : .8rem 
}
 .navbar li {
     padding-right: 20px 
}
 .jumbotron {
     border-radius:0px;
}
 .padding {
     padding-bottom : 2rem;
}
 .welcome{
     width: 75%;
     margin: 0 auto;
     padding-top: 2 rem;
}
 .welcome hr{
     border-top : 2px solid white;
     width:80%;
     margin-top:.3rem;
     margin-bottom:1rem;
}
 .fa-facebook{
     color: #3B5998;
}
 .fa-linkedin{
     color: #4875B4;
}
 .fa-google{
     color: #C63D2D;
}
 .fa-twitter{
     color: #33CCFF;
}
 .fa-book-reader, .fa-desktop {
     color: #33CCFF;
}
 .fa-user{
     padding-right:1rem;
     color:#17a2b8;
}
 .fa-code{
     color:#17a2b8;
}
 .connect{
     padding:2px;
}
 .connect a{
     color: inherit;
}
 .fab:hover{
     color: #d5d5d5;
}
 .fab {
     font-size:3em;
     padding-right:3rem;
}
 .connect-icons{
     width : 100%;
     margin-auto:0;
}
@media only screen and (min-width: 768px) {
	.education, .experience {
     width: 50%;
     margin: 0 auto;
     padding-top: 2 rem;
}
	
    }
 
 .experience img{
     height:2rem;
     width:2rem;
}
 .experience span{
     color: white;
}


.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
}